@{
    ViewData["Title"] = "Card Components Demo";
}

<div class="container">
    <div class="text-center mb-5">
        <h1 class="display-4">MVC Components Demo</h1>
        <p class="lead">
            @ViewBag.ExampleString
        </p>
    </div>

    <div class="row">
        @foreach (var card_test in @ViewBag.Cards)
        {
            <div class="col-md-4 mb-2">
                <partial name="Components/_Card" model="card_test" />
            </div>
        }
    </div>
</div>